/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
 @font-face{
   font-family: "RoundedMplus1c-Regular";
   src: asset_url("/assets/RoundedMplus1c-Regular.ttf") format("truetype");
 }

 @import "font-awesome-sprockets";
 @import "font-awesome";

 body{
  font-family: "RoundedMplus1c-Regular";
  background-image:url("/bookshelf.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
 }
 
 .nav{
   background-color: darkgoldenrod;
 }

 //  トップ
.start{
  text-align: center;
  margin-bottom: 50px;
}

//  テーブル
.table thead th{
  vertical-align: middle;
  text-align: center;
}

 .table{
   border: 2px solid darkgrey;
 }
 .table thead th,
 .table th,
 .table tr,
 .table td{
   border: 2px solid darkgrey;
 }

//  ボタン
// 投稿ボタン
.post{
  margin:10px
  border
}

.fa{
  line-height: 1.5 !important;
}

// ユーザー詳細画面
.profile{
  margin-top: 20px;
}
.profile img{
  float: left;
 
}
.user-review{
 clear: both; 
} 
 .review_table{
   border:2px solid;
 }

// 入力フォーム
.name-field{
  width: 500px;
}
.authors-field{

  width: 400px;
}
.genre-field{
  width: 400px;
}
.content-field{
  width: 800px;
}
.date-field{
  width:100px;
  display: inline-block;
}
.middle{
  width: 600px;
}

.date-label{
  display:block;
}
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f798;
  border-left: solid 6px red;/*左線*/
  color:brown;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

// 画像
.img-fluid{
  border-style: solid;
  border-color: darkgrey;
}
